In [ ]:
import pymssql
import pandas as pd

In [ ]:
conn_id = pymssql.connect(server="mssql",
                    user="SA",
                    password="Valhalla06978!",
                    database="AdventureWorks2019")

In [ ]:
detail = pd.read_sql("SELECT TOP 1000 * FROM Sales.SalesOrderDetail", conn_id)
header = pd.read_sql("SELECT TOP 1000 * FROM Sales.SalesOrderHeader", conn_id)

In [ ]:
headers = ["SalesOrderID", "OrderDate", "OrderQty", "UnitPrice"]
sales = [detail[headers[0]], header[headers[1]], detail[headers[2]], detail[headers[3]]]
sales = pd.concat(sales, axis=1, keys=headers)

In [ ]:
results = pd.DataFrame(header["OrderDate"]).drop_duplicates()
results = results.reset_index(drop=True)
results["Result"] = 0
# Get sales per day
for i, sale_date in enumerate(sales["OrderDate"]):
    res_idx = results.index[results["OrderDate"] == sale_date]
    results["Result"][res_idx] += sales["OrderQty"][i] * sales["UnitPrice"][i]

In [ ]:
results.plot(x="OrderDate", y="Result")